@model Estapar.Models.Carro

@{
    ViewData["Title"] = "Carros";
}

<h1>Cadastar</h1>

<h4>Carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nom_marca" class="control-label"></label>
                <input asp-for="nom_marca" class="form-control" />
                <span asp-validation-for="nom_marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nom_modelo" class="control-label"></label>
                <input asp-for="nom_modelo" class="form-control" />
                <span asp-validation-for="nom_modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_placa" class="control-label"></label>
                <input asp-for="num_placa" class="form-control" />
                <span asp-validation-for="num_placa" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
